*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.header{
    width: 70%;
    margin: 10 auto;
    text-align: left;
    border: 1px solid #000;
}
.header #sexo{
    text-align: center;
    margin: 20px    auto;
    color:  #333 ;
}

.header h1{
    margin: 10px auto;
    font-size: 27px;
    text-align: center;
}


.header #texto{
    margin: 20px    5px     10px    5px;
    
}

.main_Section{
    width: 80%;
    margin:15px auto;
}

.main_Section img{
    width: 70%;
    align-items: stretch;
}

