*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.header{
    width: 70%;
    margin: 10 auto;
    text-align: left;
    border: 1px solid #000;
}


.header h1{
    margin: 10px auto;
    font-size: 30px;
}


.header #texto{
    margin: 20px    5px     10px    5px;
    
}

.header p{
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

.main_Section{
    width: 80%;
    margin:15px auto;
}

.main_Section img{
    width: 70%;
    align-items: stretch;
}

